* {
    margin: 0;
    padding:0;
}
#wrapper {

}
#nav {
    height: 44px;
    background: #000;
    opacity: 0.8;/* 透明度百分之20*/
}
#nav .content {
    width: 1000px;
    color: white;
    margin: auto;
}
#nav .content ul li {
    list-style: none;
    float: left;
    margin-right: 47px;
}
#nav .content a:link {
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    font-weight: 200;
    padding: 1px 10px 0;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
}
#nav .content a:hover {
    opacity: 0.65;
}
#banner {
    height: 496px;
    background: #ddd;

}
#product {
    height: 204px;
    background: #333;
}
#footer {
    height: 359px;

}